<div class="report-list">
    <div class="report-list-item">
        <div class="report-list-item-time">
            <div class="rti-time-timestamp">
                <span class="rli-time-month">09</span>
                <span class="rli-time-year">2014</span>
            </div>
        </div>
        <div class="report-list-item-meta">
            <a class="rli-meta-title" href="http://localhost:8499/xpose/xd/xpose-1/hnzsis04lvhekvnp80iovlvg">
                <span class="rli-meta-projectname">xpose414.de</span>
                <span class="label label-default">Neu</span>
            </a>
        </div>
        <div class="report-list-item-actions">
            <a class="rli-actions-primary"
                href="http://localhost:8499/xpose/xd/xpose-1/hnzsis04lvhekvnp80iovlvg">
                Bericht
                <i class="fa fa-chevron-right fa-2x"></i>
            </a>
        </div>
    </div>
    <div class="report-list-item">
        <div class="report-list-item-time">
            <div class="rti-time-timestamp">
                <span class="rli-time-month">08</span>
                <span class="rli-time-year">2014</span>
            </div>
        </div>
        <div class="report-list-item-meta">
            <a class="rli-meta-title" href="http://localhost:8499/xpose/xd/xpose-1/hnzsis04lvhekvnp80iovlvg">
                <span class="rli-meta-projectname">xpose414.de</span>
            </a>
        </div>
        <div class="report-list-item-actions">
            <a class="rli-actions-primary"
                href="http://localhost:8499/xpose/xd/xpose-1/hnzsis04lvhekvnp80iovlvg">
                Bericht
                <i class="fa fa-chevron-right fa-2x"></i>
            </a>
        </div>
    </div>
    <div class="report-list-item">
        <div class="report-list-item-time">
            <div class="rti-time-timestamp">
                <span class="rli-time-month">07</span>
                <span class="rli-time-year">2014</span>
            </div>
        </div>
        <div class="report-list-item-meta">
            <a class="rli-meta-title" href="http://localhost:8499/xpose/xd/xpose-1/hnzsis04lvhekvnp80iovlvg">
                <span class="rli-meta-projectname">xpose414.de</span>
            </a>
        </div>
        <div class="report-list-item-actions">
            <a class="rli-actions-primary"
                href="http://localhost:8499/xpose/xd/xpose-1/hnzsis04lvhekvnp80iovlvg">
                Bericht
                <i class="fa fa-chevron-right fa-2x"></i>
            </a>
        </div>
    </div>
    <div class="report-list-item">
        <div class="report-list-item-time">
            <div class="rti-time-timestamp">
                <span class="rli-time-month">06</span>
                <span class="rli-time-year">2014</span>
            </div>
        </div>
        <div class="report-list-item-meta">
            <a class="rli-meta-title" href="http://localhost:8499/xpose/xd/xpose-1/hnzsis04lvhekvnp80iovlvg">
                <span class="rli-meta-projectname">xpose414.de</span>
            </a>
        </div>
        <div class="report-list-item-actions">
            <a class="rli-actions-primary"
                href="http://localhost:8499/xpose/xd/xpose-1/hnzsis04lvhekvnp80iovlvg">
                Bericht
                <i class="fa fa-chevron-right fa-2x"></i>
            </a>
        </div>
    </div>
    <div class="report-list-item">
        <div class="report-list-item-time">
            <div class="rti-time-timestamp">
                <span class="rli-time-month">05</span>
                <span class="rli-time-year">2014</span>
            </div>
        </div>
        <div class="report-list-item-meta">
            <a class="rli-meta-title" href="http://localhost:8499/xpose/xd/xpose-1/hnzsis04lvhekvnp80iovlvg">
                <span class="rli-meta-projectname">xpose414.de</span>
            </a>
        </div>
        <div class="report-list-item-actions">
            <a class="rli-actions-primary"
                href="http://localhost:8499/xpose/xd/xpose-1/hnzsis04lvhekvnp80iovlvg">
                Bericht
                <i class="fa fa-chevron-right fa-2x"></i>
            </a>
        </div>
    </div>
</div>