##############################################################################
# Fabric Deployment Tool
##############################################################################

[buildout]
fabric-parts =
    fabric-build
    fabric-config

[fabric]
host = ${settings:hostname}
hostname = ${settings:hostname}.vorwaerts-werbung.de
webserver = /opt/webserver/buildout.webserver
directory = /opt/sites/${settings:sitename}/buildout.${settings:sitename}

[fabric-build]
recipe=zc.recipe.egg
eggs=
    fabric
    ade25.fabfiles

[fabric-config]
recipe = collective.recipe.template
input = ${buildout:directory}/buildout.d/fabfile.py.in
output = ${buildout:directory}/fabfile.py
